0 RCDATA payload-00.txt
1 RCDATA payload-01.txt
2 RCDATA payload-02.txt
3 RCDATA payload-03.txt
4 RCDATA payload-04.txt
5 RCDATA payload-05.txt
6 RCDATA payload-06.txt
7 RCDATA payload-07.txt
8 RCDATA payload-08.txt
9 RCDATA payload-09.txt
10 RCDATA payload-10.txt
11 RCDATA payload-11.txt
12 RCDATA payload-12.txt
13 RCDATA payload-13.txt
14 RCDATA payload-14.txt
15 RCDATA payload-15.txt
16 RCDATA payload-16.txt
17 RCDATA payload-17.txt
18 RCDATA payload-18.txt
19 RCDATA payload-19.txt
20 RCDATA payload-20.txt
21 RCDATA payload-21.txt
22 RCDATA payload-22.txt
23 RCDATA payload-23.txt
24 RCDATA payload-24.txt
25 RCDATA payload-25.txt
26 RCDATA payload-26.txt
27 RCDATA payload-27.txt
28 RCDATA payload-28.txt
29 RCDATA payload-29.txt
30 RCDATA payload-30.txt
31 RCDATA payload-31.txt
32 RCDATA payload-32.txt
33 RCDATA payload-33.txt
34 RCDATA payload-34.txt
35 RCDATA payload-35.txt
36 RCDATA payload-36.txt
37 RCDATA payload-37.txt
38 RCDATA payload-38.txt
39 RCDATA payload-39.txt
40 RCDATA payload-40.txt
41 RCDATA payload-41.txt
42 RCDATA payload-42.txt
43 RCDATA payload-43.txt
44 RCDATA payload-44.txt
45 RCDATA payload-45.txt
46 RCDATA payload-46.txt
47 RCDATA payload-47.txt
48 RCDATA payload-48.txt
49 RCDATA payload-49.txt

// https://docs.microsoft.com/zh-cn/windows/win32/menurc/resource-definition-statements
